layout {
    default_tab_template {
        children
        pane borderless=true size=1 {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                format_right "#[fg=#89B4FA,bold]{session}"
                format_left  "{tabs}"
                format_space ""

                mode_normal  "#[bg=blue] "
                mode_tmux    "#[bg=#ffc387] "

                tab_normal   "#[fg=#6C7086] {name} "
                tab_active   "#[fg=blue,bold,italic] {name} "
           }
        }
    }
    tab name="terminal"
    tab name="edit" {
        pane borderless=true command="nvim" {
            args "~/Sabari/Projects"
        }
    }

}
